.upload {
  font-weight: bold;
  color: #28a745;
  margin-left: 15px;
  line-height: 36px;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  background-color: #07ff5a73;
  color: #090909;
}
element.style {
  background-color: #0ece3a;
}
div.container {
  width: 930px;
  height: 350px;
  overflow: auto;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: #dee2e6 #dee2e6 #fff;
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  background-color: #07ff5a73;
  color: #090909;
}

