<header id="main-header" data-height-onload="171" class="" data-height-loaded="true" data-fixed-height-onload="154">
  <div class="container clearfix et_menu_container menu-style">
    <div id="et-top-navigation" data-height="139" data-fixed-height="139">
      <nav id="top-menu-nav">
        <ul id="top-menu" class="nav">
          <li id="menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-122 current_page_item menu-item-138 menu"><a [routerLink]="['/']">Home</a></li>
          <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108 menu"><a [routerLink]="['/recipe']">Recipes</a></li>
          <li class="centered-inline-logo-wrap logo-width">
            <div class="logo_container">
              <span class="logo_helper"></span> <a href="#">
                <img src="/assets/img/southIndianKitchens.png" alt="SouthIndian Kitchen" id="logo" data-height-percentage="73" data-actual-width="735" data-actual-height="560" class="img-alignment">
              </a>
            </div>
          </li>
          <li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137 menu"><a [routerLink]="['/episode']">Episodes</a></li>
          <li id="menu-item-200" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-200 menu"><a [routerLink]="['/aboutus']">About Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


