  <header id="main-header" data-height-onload="171" class="" data-height-loaded="true" data-fixed-height-onload="154">
  <div class="container clearfix et_menu_container menu-style">
    <div id="et-top-navigation" data-height="139" data-fixed-height="139"><nav id="top-menu-nav"><ul id="top-menu" class="nav">
  <li id="menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-122 current_page_item menu-item-138 menu"><a [routerLink]="['/']">Home</a></li>
  <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108 menu"><a [routerLink]="['/recipe']">Recipes</a></li>
  <li class="centered-inline-logo-wrap logo-width">
    <div class="logo_container">
      <span class="logo_helper"></span> <a href="#">
        <img src="/assets/img/southIndianKitchens.png" alt="SouthIndian Kitchen" id="logo" data-height-percentage="73" data-actual-width="735" data-actual-height="560" class="img-alignment">
      </a>
    </div>
  </li>
  <li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137 menu"><a [routerLink]="['/episode']">Episodes</a></li>
  <li id="menu-item-200" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-200 menu"><a [routerLink]="['/aboutus']">About Us</a></li>
</ul></nav>
    <!--<div id="et_mobile_nav_menu"><div class="mobile_nav closed"> <span class="select_page">Select Page</span> <span class="mobile_menu_bar mobile_menu_bar_toggle"></span><ul id="mobile_menu" class="et_mobile_menu"><li id="menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-122 current_page_item menu-item-138 et_first_mobile_item"><li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137"><a href="https://www.ernestwright.co.uk/craftsmanship/">CRAFTSMANSHIP</a></li><li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="https://www.ernestwright.co.uk/history/">STORY SINCE 1902</a></li><li id="menu-item-200" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-200"><a href="https://www.ernestwright.co.uk/about-us/">ABOUT US</a></li></ul></div></div>-->
      </div></div>
  <!--<div class="et_search_outer"><div class="container et_search_form_container"><form role="search" method="get" class="et-search-form" action="https://www.ernestwright.co.uk/"> <input type="search" class="et-search-field" placeholder="Search …" value="" name="s" title="Search for:"></form> <span class="et_close_search_field"></span></div></div>-->
  </header>
 

