<form #LoginForm="ngForm" name="myform" class="login-form" (ngSubmit)="login()">
  <br />
  <h2 class="text-center text-primary">Admin Login</h2>
  <hr />

  <div class="form-group">
    <input type="text" class="form-control" name="Username" [(ngModel)]="model.Username"
           required="required" placeholder="Username" minlength="3" maxlength="30" pattern="^[A-Za-z0-9 /-]*$" #refpname="ngModel"
           [ngClass]="{ 'is-invalid': refpname.invalid && (refpname.dirty || refpname.touched || LoginForm.submitted), 'is-valid': refpname.valid && (refpname.dirty || refpname.touched || LoginForm.submitted) }" />
    <span class="text-danger" *ngIf="refpname.invalid && (refpname.dirty || refpname.touched || LoginForm.submitted) && refpname.errors?.required">UserName can't be blank</span>

    <span class="text-danger" *ngIf="refpname.invalid && (refpname.dirty || refpname.touched || LoginForm.submitted) && refpname.errors?.pattern">UserName can contain alphabets, digits, dot, hyphen or space only</span>

    <span class="text-danger" *ngIf="refpname.invalid && (refpname.dirty || refpname.touched || LoginForm.submitted) && refpname.errors?.minlength">UserName should be at least 3 characters long</span>

  </div>

  <div class="form-group">
    <input type="password" class="form-control" required name="Password" [(ngModel)]="model.Password"
           placeholder="Password" minlength="3" maxlength="30" pattern="^[A-Za-z0-9 /-]*$" #refpassword="ngModel"
           [ngClass]="{ 'is-invalid': refpassword.invalid && (refpassword.dirty || refpassword.touched || LoginForm.submitted), 'is-valid': refpassword.valid && (refpassword.dirty || refpassword.touched || LoginForm.submitted) }" />
    <span class="text-danger" *ngIf="refpassword.invalid && (refpassword.dirty || refpassword.touched || LoginForm.submitted) && refpassword.errors?.required">Password  can't be blank</span>

    <span class="text-danger" *ngIf="refpassword.invalid && (refpassword.dirty || refpassword.touched || LoginForm.submitted) && refpassword.errors?.pattern">Password  can contain alphabets, digits, dot, hyphen or space only</span>

    <span class="text-danger" *ngIf="refpassword.invalid && (refpassword.dirty || refpassword.touched || LoginForm.submitted) && refpassword.errors?.minlength">Password should be at least 3 characters long</span>

  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" value="Submit" type="submit">Login</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>




