<form #LoginForm="ngForm" class="login-form" (ngSubmit)="login()">
  <br />
  <h2 class="text-center text-primary">Admin Login</h2>
  <hr />

  <div class="form-group">
    <input type="text" class="form-control" required name="Username" [(ngModel)]="model.Username"
      placeholder="Username" />
  </div>
  
  <div class="form-group">
    <input type="password" class="form-control" required name="Password" [(ngModel)]="model.Password"
      placeholder="Password" />
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Login</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
