img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  /* height: 1em !important;
      width: 1em !important; */
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

.et_pb_db_shop_thumbnail a,
.et_pb_db_shop_thumbnail img.secondary-image {
  padding: inherit;
}

.secondary-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

  .secondary-image + img {
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }

.et_pb_db_shop_thumbnail:hover .secondary-image + img {
  opacity: 0;
}

.et_pb_db_shop_thumbnail:hover .secondary-image {
  opacity: 1 !important;
}

.woocommerce-product-gallery {
  opacity: 1 !important;
}

[data-columns]::before {
  visibility: hidden;
  position: absolute;
  font-size: 1px;
}

.et_pb_section_8.et_pb_section {
  padding-top: 35px;
  padding-bottom: 30px;
  padding-left: 0;
  background-color: #023349 !important;
}

body, input, textarea, select {
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
}

.et_pb_text_40.et_pb_text {
  color: #ffffff !important;
}

.et_pb_text_41.et_pb_text {
  color: #ffffff !important;
}

.et_pb_text_42.et_pb_text {
  color: #ffffff !important;
}

.et_pb_text_43.et_pb_text {
  color: #ffffff !important;
}

et_pb_text_44.et_pb_text {
  color: #ffffff !important;
}

#top-header, #top-header a, #et-secondary-nav li li a, #top-header .et-social-icon a:before {
  font-size: 13px;
  letter-spacing: 1px;
}

/*a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}*/

#et-info-email:before {
  content: "\e076";
  margin-right: 4px;
}

#et-info-phone:before {
  content: "\e090";
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.et_pb_text_inner {
  color: #ffffff !important;
}

.et_pb_row_13.et_pb_row {
  margin-top: 10px !important;
}

.et_pb_text_align_center {
  text-align: center;
}

.et_pb_all_tabs, .et_pb_column, .et_pb_counters .et_pb_counter_container, .et_pb_module, .et_pb_portfolio_item, .et_pb_posts_nav a, .et_pb_pricing_table, .et_pb_row, .et_pb_row_inner, .et_pb_slide, .et_pb_tab, .et_pb_with_background {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.et_pb_gutters2 .et_pb_column_1_5 .et_pb_module, .et_pb_gutters2.et_pb_row .et_pb_column_1_5 .et_pb_module {
  margin-bottom: 8.523%;
}

.et_pb_section_5.et_pb_section {
  padding-top: 11px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.et_pb_text_inner {
  color: #0f0f0fc2 !important;
}

#top-header .container {
  /* padding-top: .75em; */
  font-weight: 600;
}

#top-header, .et-l--header {
}

#main-header {
  background-color: #fff;
  width: 100%;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

.et_pb_slider .et_pb_slide_0 {
  background-color: #d6d6d6;
  background-image: url('/southindiankitchens/southindiankitchens.app/images/homepagelogo.jpeg');
}


.logo_container {
  padding-top: 45px;
  /* border-top-width: 10px; */
  margin-top: 20px;
}

.et_header_style_split #main-header .centered-inline-logo-wrap {
  margin: -162px 0;
  height: 66px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.et_header_style_left .et-fixed-header #et-top-navigation, .et_header_style_split .et-fixed-header #et-top-navigation {
  padding-top: 70px;
}

.et_fullwidth_nav #main-header .container {
  width: 100%;
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

/*=================footer css start==============*/
.webintern-footer {
  background: #0d2034;
}

.webintern-footer-inner {
  padding-top: 80px;
  padding-bottom: 50px;
}

.webintern-footer-logo {
  display: inline-block;
}

.webintern-footer .webintern-footer-inner .simple-text p {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 15px;
}

.simple-text p {
  font-size: 15px;
  color: #42435d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}

.webintern-footer .webintern-footer-inner .simple-text a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #f2c21a;
  font-size: 15px;
}

.footer-2 {
  padding-left: 55px;
}

.webintern_footer_title {
  margin-top: 0px;
  margin-bottom: 25px;
}

  .webintern_footer_title small {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
  }

  .webintern_footer_title:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: #f2c21a;
    margin-top: 15px;
  }

.webintern-footer-list {
  padding: 0;
}

  .webintern-footer-list li {
    margin-bottom: 17px;
    list-style: none;
  }

  .webintern-footer-list a {
    position: relative;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    padding-left: 0;
    letter-spacing: 0.20px;
    font-family: 'Open Sans', sans-serif;
  }

.footer-3 {
  padding-left: 65px;
}

.webintern-footer-inner .simple-text.last {
  color: #d5d5d5;
  font-size: 17px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.tt-subscribe {
  position: relative;
}

  .tt-subscribe input:not([type="submit"]) {
    width: 100%;
    height: 46px;
    background: #fff;
    font-size: 15px;
    color: #838486;
    padding-left: 20px;
    padding-right: 70px;
    border: 2px solid #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

.tt-subscribe-submit {
  background: #001b57;
}

.tt-subscribe-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 46px;
  font-size: 18px;
  line-height: 46px;
  color: #2a2a2a;
  text-align: center;
  background: #001b57;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}


  .tt-subscribe-submit i.fa-envelope:before {
    content: "\f0e0";
    position: relative;
    z-index: 1;
    color: #fff;
  }

  .tt-subscribe-submit input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #51658d;
    border: 0;
  }

ul.tt-socail {
  padding: 0;
  margin-top: 30px;
}

.tt-socail li {
  display: inline-block;
  margin-right: 10px;
}

.tt-socail a {
  display: block;
  width: 36px;
  height: 36px;
  font-size: 17px;
  line-height: 34px;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.webintern_footer_title small {
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.tt-copy {
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: #51658d;
  padding: 30px 0;
  font-family: 'Open Sans', sans-serif;
}

.tt-copy-right {
  text-align: right;
}

/*================= Banner ==============*/

.image-aboutus-banner {
  /*background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/556962/pexels-photo-556962.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");*/
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/img/Home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 110px;
  padding-bottom: 110px;
}
.image-aboutus-sm-banner {
  /*background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/631008/pexels-photo-631008.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");*/
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/img/Home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.lg-text {
  font-weight: 600;
  text-transform: none;
  color: #fff;
  text-align: center;
}
.mt-2, .my-2 {
  margin-top: 0px !important;
}
