
.bg-dark {
  background-color: #d6d6d6 !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 35px;
  padding: .1rem .2rem;
}

  .nav-item active, .navbar navbar-expand-md navbar-dark bg-dark, fa fa-envelope, .fa fa-phone {
    color: #6b6b6b;
    text-decoration: none;
    background-color: transparent;
  }

a {
  color: #6b6b6b;
  text-decoration: none;
  background-color: transparent;
}
#top-header, #top-header a {
  color: #6b6b6b;
}
